<header style="background-image: url(./images/header-bg.jpg);" class="header">
    <div class="container">
    <div class="row justify-content-between">
        <nav class="col-lg-5 d-flex">
            <a href=""  class="logo"><img src="./images/logo.png" alt="logo" width="31" height="48" class="image"></a>
            <ul class="d-flex">
                <li class="item"><a href="" class="link">Home</a></li>
                <li class="item"><a href="" class="link">About</a></li>
                <li class="item"><a href="" class="link">Tickets</a></li>
                <li class="item"><a href="" class="link">Contacts</a></li>
            </ul>
        </nav>
        <div><a href="tel:+18938392364"></a>+1 893 839-23-64</div>
    </div>

    </div>
</header>